root {
  font-family: Bahnschrift, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-degrade-blue {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  border: none;
  color: #fff !important;
  font-weight: bold !important; 
  transition: transform 0.2s ease-in-out;
}

.btn-degrade-blue:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 242, 254, 0.5);
}

html, body {
  height: 100%;
  margin: 0;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-image: url('../../public/fondo.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}